.bgs {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 20px;
  overflow: hidden;
  .bg {
    transition: all 0.7s ease-out;
    top: 50px;
    left: 50px;
    position: absolute;
    width: 15px;
  }
}
