.header {
  padding: rem(10) rem(20) 0;
  margin: auto;
  max-width: 1280px;
  &__hr {
    border: none;
    height: 1px;
    opacity: 0.5;
    margin: rem(10) 0;

    background: linear-gradient(
      to right,
      red 20%,
      yellow 20%,
      yellow 36%,
      green 36%,
      green 60%,
      blue 60%,
      blue 100%
    );
  }

  &__h1 {
    margin: rem(10) 0 rem(50);
  }
  &__h2 {
    margin: 0 0 rem(30);
  }
}
