.hp {
  &__legend {
    background-color: $light-gray;
    padding: 40px 50px 300px;
    max-width: 1280px;
    margin: auto;
    h2 {
      position: relative;
      z-index: 2;
      text-decoration: underline;
      margin: rem(0) 0 rem(40);
    }
  }
}

.random-btn {
  margin: -225px 0 225px;
  button {
    height: 70px;
    width: 250px;
    font-size: 25px;
  }
}
