.hp {
  &__legend {
    background-color: $light-gray;
    padding: 50px 50px 240px;
    h2 {
      margin: rem(0) 0 rem(20);
    }
  }
}

.random-btn {
  margin: -125px 0 125px;
  button {
    height: 70px;
    width: 250px;
    font-size: 25px;
  }
}
