.hp {
  &__legend {
    background-color: $light-gray;
    padding: 50px 50px 300px;
    h2 {
      margin: rem(0) 0 rem(25);
    }
  }
}

.random-btn {
  margin: -175px 0 175px;
  button {
    height: 70px;
    width: 250px;
    font-size: 25px;
  }
}
