@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&display=swap");

$font: "David Libre', serif";
body {
  font-family: $font !important;
}

h1,
h2,
h3,
button {
  font-weight: 700;
}

.impact {
  font-family: Impact, sans-serif;
}
