@import url("https://fonts.googleapis.com/css2?family=Suez+One:wght@400;700");
$font: "Suez One", sans-serif;
body {
  font-family: $font;
}

h1,
h2,
h3,
button {
  font-family: $font;
  font-weight: 700;
}

.impact {
  font-family: Impact, sans-serif;
}
