$baseFontSize: 16;
$black: #222;
$white: #fdfdfe;
$gray: #e7e7e7;
$light-gray: #e7e7e7f7;
$green: #009895;
$yellow: #f6d60c;

$mobile: "(max-width: 960px),(max-device-width: 760px),(orientation: portrait)";
html {
  font-size: $baseFontSize;
  font-size: 1.11vw;
}
body {
  font-size: px($baseFontSize);
}
@function rem($pixels) {
  @return $pixels / $baseFontSize + rem;
}
