.mobile {
  display: none;
}
@media (max-width: 960px), (max-device-width: 760px), (orientation: portrait) {
  html {
    font-size: 16px;
    font-size: 4.266666666666667vw;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .hp__legend {
    padding: 50px 10px 300px;
  }
  .hp__legend h1 {
    font-size: 28px;
    line-height: 1.05;
  }
  .hp__legend h2 {
    font-size: 20px;
  }
  .bgs {
    font-size: 6px;
  }
  .album__body {
    display: block;
  }
  .album__thumb {
    box-shadow: unset;
    padding: 0;
  }
  .project-box__inner {
    overflow: hidden;
  }
  .song-box__links {
    margin: auto;
  }
  .player .window-body {
    height: auto;
  }
  .rnd-song {
    max-width: 99%;
    .window {
      width: 100%;
    }
  }
  .albums--grid {
    grid-gap: 2px;
  }
  .header__h1 {
    margin: 0 0 10px;
    font-size: 16px;
  }
  .player {
    width: 98%;
  }
}
